@import "../../common/scss/common.scss";

.head{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    background:rgba(0, 29, 58, 0.18);
    backdrop-filter:blur(2px);
    &__wrap{
        width:calc(100% - 40px);
        max-width:1200px;
        display:flex;
        align-items:center;
        justify-content:space-between;
        margin:0 auto;
        padding:10px 0;
        &--link{
            font-size:0;
            a{
                font-size:16px;
                color:#fff;
                & + a{
                    margin-left:8px;
                }
            }
        }
    }    
}

.event{
    overflow:hidden;
    &__wrap{
        min-height:100vh;
        >div{
            width:100%;
            min-height:100vh;
            position:relative;
            z-index: 1;
        }
    }
    .top{
        &__canvas{
            width:100%;
            height:100vh;
            background-color:#111;
            position:fixed;
            top:0;
            left:0;
            z-index:-1;
            canvas{
                width:100%;
                height:100vh;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%) scale(1);
            }
        }
        &__msg{
            &--tit{
                width:100%;
                font-size:96px;
                font-family:$f-ebold;
                line-height:1.3;
                text-align:center;
                color:#fff;
                position:fixed;
                top:calc(50% + 50px);
                left:0;
                transform:translateY(-50%);
            }
            &--slide{
                width:100%;
                text-align:center;
                position:fixed;
                top:calc(50% + 50px);
                left:0;
                transform:translate(280px, -50%);
                transition:0.3s;
                li{
                    display:inline-block;
                    vertical-align:middle;
                    font-size:96px;
                    font-family:$f-ebold;
                    color:#fff;
                    opacity:0;
                    transform:translateY(30px);
                    transition:0.3s;
                    & + li{
                        margin-left:20px;
                    }
                }
            }
        }
    }
    // .history{
    //     &__cont{
    //         width:100%;
    //         height:100vh;
    //         top:0;
    //         left:0;
    //         z-index:1;
    //         color:#fff;
    //         background-color:#111;
    //         opacity:0;
    //         &--tit{
    //             width:100%;
    //             text-align:center;
    //             font-size:96px;
    //             font-family:$f-ebold;
    //             line-height:1.3;
    //             white-space:nowrap;
    //             position:absolute;
    //             top:50%;
    //             left:0;
    //             transform:translate(0vw, -50%);
    //         }
    //         &--sub{
    //             width:800%;
    //             font-size:0;
    //             // white-space:nowrap;
    //             position:absolute;
    //             top:50%;
    //             left:100%;
    //             transform:translate(0%, -50%);
    //             li{
    //                 width:12.5%;
    //                 display:inline-block;
    //                 vertical-align:middle;
    //                 text-align:center;
    //                 font-size:96px;
    //                 font-family:$f-ebold;
    //                 line-height:1.3;
    //             }
    //         }
    //     }
    //     &__canvas{
    //         width:100%;
    //         height:100vh;
    //         canvas{
    //             width:100%;
    //             height:100vh;
    //             opacity:0.4;
    //             position:absolute;
    //             top:50%;
    //             left:50%;
    //             z-index:-1;
    //             transform:translate(-50%, -50%) scale(1);
    //         }
    //     }
    // }
    .history{
        height:100%;
        &__cont{
            width:100%;
            height:100%;
            opacity:0;
            position:relative;
            z-index:1;
            &:before{
                content:"";
                width:100%;
                height:100%;
                background:url(../images/history/history-bg4.jpg) no-repeat center/100%;
                background-attachment:fixed;
                opacity:0.4;
                position:absolute;
                top:0;
                left:0;
                z-index:-1;
            }
            &--txt{
                width:100%;
                text-align:center;
                top:50%;
                left:0;
                transform:translateY(-50%);
                li{
                    font-size:65px;
                    font-family:$f-ebold;
                    line-height:1.4;
                    color:#fff;
                    opacity:0.2;
                    &.on{
                        opacity:1;
                    }
                }
            }
        }
    }
    .process{
        &__cont{
            padding-left:50%;
            font-size:0;
            background-color:#fff;
            &--tit{
                width:50%;
                height:50vh;
                padding-top:20vh;
                top:0;
                left:0;
                li{
                    text-align:center;
                    font-size:50px;
                }
            }
            &--gif{
                width:720px;
            }
        }
    }
}

#scene{
    &-1{
        .history{
            &__cont{
                &--txt{
                    position:fixed;
                }
            }
        }
    }
    &-2{
        .process{
            &__cont{
                &--tit{
                    position:fixed;
                }
            }
        }
    }
}