@import "../../common/scss/common.scss";

body{
    scroll-behavior:smooth;
    &.hold{
        overflow:hidden;
        &:before{
            content:"";
            width:100vh;
            height:100vh;
            background-color:#111;
            position:absolute;
            z-index:100;
        }
    }
}

.head{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    background:rgba(0, 29, 58, 0.18);
    backdrop-filter:blur(2px);
    &__wrap{
        width:calc(100% - 40px);
        max-width:1200px;
        display:flex;
        align-items:center;
        justify-content:space-between;
        margin:0 auto;
        padding:10px 0;
        &--link{
            font-size:0;
            a{
                font-size:16px;
                color:#fff;
                & + a{
                    margin-left:8px;
                }
            }
        }
    }    
}

.event{
    background-color:#111;
    &__wrap{
        min-height:100vh;
        >div{
            width:100%;
            min-height:100vh;
            position:relative;
            z-index: 1;
        }
    }
    .top{
        opacity:0;
        overflow:hidden;
        &__canvas{
            width:100%;
            height:100vh;
            background-color:#111;
            position:fixed;
            top:0;
            left:0;
            z-index:-1;
            canvas{
                width:100%;
                height:100vh;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%) scale(1);
            }
        }
        &__msg{
            &--tit{
                width:100%;
                font-size:96px;
                font-family:$f-ebold;
                line-height:1.3;
                text-align:center;
                color:#fff;
                position:fixed;
                top:calc(50% + 50px);
                left:0;
                transform:translateY(-50%);
            }
            &--slide{
                width:100%;
                text-align:center;
                position:fixed;
                top:calc(50% + 50px);
                left:0;
                transform:translate(280px, -50%);
                transition:0.3s;
                li{
                    display:inline-block;
                    vertical-align:middle;
                    font-size:96px;
                    font-family:$f-ebold;
                    color:#fff;
                    opacity:0;
                    transform:translateY(30px);
                    transition:0.3s;
                    & + li{
                        margin-left:20px;
                    }
                }
            }
        }
    }
    .history{
        height:100%;
        &__cont{
            width:100%;
            height:100%;
            opacity:0;
            position:relative;
            z-index:1;
            &:before{
                content:"";
                width:100%;
                height:100%;
                background:url(../images/history/history-bg4.jpg) no-repeat center/100%;
                background-attachment:fixed;
                opacity:0.4;
                position:absolute;
                top:0;
                left:0;
                z-index:-1;
            }
            &--txt{
                width:100%;
                height:100vh;
                display:flex;
                justify-content:center;
                align-items:center;
                flex-direction:column;
                text-align:center;
                position:sticky;
                top:0;
                left:0;
                li{
                    font-size:65px;
                    font-family:$f-ebold;
                    line-height:1.4;
                    color:#fff;
                    opacity:0.2;
                }
            }
        }
    }
    .process{
        height:100%;
        background-color:#fff;
        &__cont{
            width:100%;
            height:100vh;
            overflow:hidden;
            position:sticky;
            top:0;
            left:0;
            // &:before{
            //     content:"";
            //     width:100%;
            //     height:100vh;
            //     position:absolute;
            //     top:0;
            //     left:0;
            //     z-index:-1;
            //     background-color:transparent;
            //     background-repeat:no-repeat;
            //     background-position:center;
            //     background-size:100% 100%;
            //     transition:300ms ease-in-out;
            // }
            &--wrap{
                width:calc(100% - 40px);
                max-width:1400px;
                height:720px;
                margin:calc(50vh - 360px) auto;
                border-radius:50px;
                background-color:#fff;
                overflow:hidden;
                position:relative;
            }
            &--gif{
                li{
                    width:calc(100% - 480px);
                    max-width:720px;
                    position:absolute;
                    top:50%;
                    left:0;
                    transform:translateY(-50%);
                    opacity:0;
                    transition:opacity 300ms ease-in-out;
                    img{
                        width:100%;
                        height:100%;
                    }
                    &:first-child{
                        opacity:1;
                    }
                }
            }
            &--tit{
                li{
                    width:400px;
                    position:absolute;
                    top:20vh;
                    right:0;
                    opacity:0;
                    p{
                        line-height:1.4;
                        font-size:30px;
                        font-family:$f-bold;
                        color:#86868b;
                        &:first-child{
                            margin-bottom:12px;
                            font-size:32px;
                            font-family:$f-ebold;
                            color:#1d1d1f;
                        }
                    }
                    &:first-child{
                        opacity:1;
                    }
                }
            }
            &#one{
                // &:before{
                //     background-image:url(../images/process/tarp-1.png);
                // }
                .process__cont{
                    &--gif{
                        li:nth-child(1){
                            opacity:1;
                        }
                    }
                }
            }
            &#two{
                // &:before{
                //     background-image:url(../images/process/tarp-2.png);
                // }
                .process__cont{
                    &--gif{
                        li:nth-child(2){
                            opacity:1;
                        }
                    }
                }
            }
            &#three{
                // &:before{
                //     background-image:url(../images/process/tarp-3.png);
                // }
                .process__cont{
                    &--gif{
                        li:nth-child(3){
                            opacity:1;
                        }
                    }
                }
            }
            &#four{
                // &:before{
                //     background-image:url(../images/process/tarp-4.png);
                // }
                .process__cont{
                    &--gif{
                        li:nth-child(4){
                            opacity:1;
                        }
                    }
                }
            }
            &#five{
                // &:before{
                //     background-image:url(../images/process/tarp-5.png);
                // }
                .process__cont{
                    &--gif{
                        li:nth-child(5){
                            opacity:1;
                        }
                    }
                }
            }
            &#six{
                // &:before{
                //     background-image:url(../images/process/tarp-6.png);
                // }
                .process__cont{
                    &--gif{
                        li:nth-child(6){
                            opacity:1;
                        }
                    }
                }
            }
            &#seven{
                // &:before{
                //     background-image:url(../images/process/tarp-7.png);
                // }
                .process__cont{
                    &--gif{
                        li:nth-child(7){
                            opacity:1;
                        }
                    }
                }
            }
        }
    }
    .product{
        height:100%;
        &__cont{
            height:100vh;
            background-color:#fff;
            overflow:hidden;
            position:sticky;
            top:0;
            left:0;
            &--item{
                width:100%;
                height:33.3vh;
                font-size:0;
                white-space:nowrap;
                opacity:0;
                li{
                    height:100%;
                    display:inline-block;
                    vertical-align:middle;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
        }
        &__title{
            height:33.3vh;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:0;
            overflow:hidden;
            &--bold{
                display:inline-block;
                vertical-align:middle;
                margin-right:30px;
                font-size:65px;
                font-family:$f-ebold;
            }
            &--trio{
                width:185px;
                height:85px;
                display:inline-block;
                vertical-align:middle;
                position:relative;
                li{
                    width:100%;
                    font-size:70px;
                    font-family:$f-ebold;
                    text-transform:capitalize;
                    opacity:0;
                    color:transparent;
                    background-clip:text;
                    -webkit-background-clip:text;
                    -webkit-text-fill-color:transparent;
                    animation:rotate 3s linear infinite;
                    position:absolute;
                    top:0;
                    left:0;
                    &:nth-child(1){
                        background-image:linear-gradient(to right top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
                    }
                    &:nth-child(2){
                        background-image:linear-gradient(to left bottom,#2ca2b4,#5598de 20%,#7f87ff 40%,#f65aad 60%,#ec3d43);
                    }
                    &:nth-child(3){
                        background-image: linear-gradient(to left top, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
                    }
                    @keyframes rotate {
                        0%{
                            filter:hue-rotate(0deg);
                        }
                        100%{
                            filter:hue-rotate(360deg);
                        }
                    }
                }
            }
        }
    }
}

#scene{
    &-0{
        .top{
            opacity:1;
        }
    }
}